/* Razieh codes */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url(../src/images/Background.png) no-repeat;
    background-attachment: fixed;
    background-position: center;
}

a {
    color: #637878;
}

/* Jacques codes */


/* Ulf codes */

.smlinks {
    display: flex;
    margin: 0.5rem;
    gap: 0.5rem;
}

.smlinks img {
    border-radius: 50%;
    max-width: 25px;
}

.hiker_image img {
    width: 100%;
    max-width: 200px;
}