/* Razieh codes */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url(../src/images/Background.png) no-repeat;
    background-attachment: fixed;
    background-position: center;
}


a {
    color: #637878;
}

/* Jacques codes */


/* Ulf codes */